<div class="splash">
  <h1><a href="#" id="logo"><img src="assets/splash-logo.png"></a></h1>

  <div id="splash">
    <ul id="login">
      <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => "facebook-login" %></li>
    </ul>
    <h1>What is Quære?</h1>
    <p>Quære tracks your packages. It keeps track of all your tracking information stored in one place, but best of all, it gathers the tracking codes automatically so you don't have to worry about watching for emails with tracking information or shipping updates &mdash; we'll do that for you.</p>
  </div>
</div>