<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width">
  <title>Quaere</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-icon" href="assets/ios-icon.png">

	<script>
	  $(function() {
	    $(".add-package").click(function() {
	      $("#add-package-modal").slideToggle();
	      return false;
	    });
	    $(".big-effing-button-wtf").click(function() {
	      $(this).siblings(".full-info").slideToggle();
	    });
	    $(".remove-package").click(function() {
        smoke.confirm("You are about to delete this entry", function(e) {
          if(e) {
            smoke.alert("Clicked OK");
          }
        });
	    });
	    $(".status-pending").removeClass("ajax");
	    $("#filters li a").click(function() {
	      $(".down").removeClass("down");
	      $(this).addClass("down");
	      $courier = $(this).attr("class");
	      $(".entry:not(."+$courier+"):not(.blank)").slideUp();
	      $("."+$courier).slideDown();
	    });
	  });
	</script>
</head>
<body>

<%= yield %>

</body>
</html>
